@import '../layout/colors';

.wrapper {
	flex: 1;
}

@keyframes fadeIn {
	0%{transform: scale(.8); opacity: 0;}
	100%{transform: scale(1); opacity: 1;}
}

.cards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20vh 0 20vh;
	animation: fadeIn 1s 1 ease;
}

.card{
	padding: 12px;
	border-radius: 4px;
	cursor: pointer;
	transition: all .2s ease;
	margin: 6px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: $light-yellow;
	border-radius: 4px;
	border: 2px solid $light-yellow;
	&:hover{
		background: $light-yellow;
		color: $off-white;
		transform: scale(1.05);
	}
}

.header{
	font-size: 32px;
	font-weight: 600;
	position: relative;
	margin: 32px 16px 16px;
	text-align: center;
	@media(min-width: 800px){
		font-size: 80px;
	}
}

.underheader{
	font-size: 16px;
	font-weight: 600;
	position: relative;
	margin: 16px 16px 32px;
	text-align: center;
	@media(min-width: 800px){
		font-size: 40px;
	}
}

.subheader{
	font-size: 18px;
	font-weight: 600;
	position: relative;
	margin: 16px;
	text-align: center;
	opacity: .6;
	@media(min-width: 800px){
		font-size: 16px;
	}
}

.categories{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 24px auto 32px;
	max-width: 1080px;
}

.minorLink{
	color: $light-yellow;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .2s;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 12px;
	&:hover{
		color: $off-white;
	}
}

.large{
	background: $off-white;
	color: $grey;
	padding: 120px 24px 80px;
	animation: opacityIn 1s 1 ease;
	position: relative;
	clip-path: polygon(0% 0%, calc(50% - 30px) 0%, 50% 30px, calc(50% + 30px) 0%, 150% 0%, 150% 100%, 0% 150%);
	&:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 30px $off-white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
	}
}

@keyframes opacityIn {
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}
